{#
/**
 * @file
 * Default theme implementation of Angebot Uebersicht.
 *
 * Available variables:
 * - data: The entire data array.
 *
 * @ingroup themeable
 */
#}

<div id="date_liste_help">{{ test|raw }}</div>

<div id="angebot_uebersicht">
{% for row in data %}
<hr class="angebot_teaser_divider">
  <div class="angebot_teaser row border_angebotsthema_{{ row.thema|render|striptags|trim }}">

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="angebot_zeitraum">{{ row.zeitraum }}</div>
    </div>

    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-12">
      <h4>{{ row.title|striptags }}</h4>
    </div>

    <div class="col-lg-3 col-md-7 col-sm-7 col-xs-12">
        {{ row.dozenten|raw }}
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a class="button_corporate" href="{{ row.path_alias }}" title="{% trans %}Info{% endtrans %}">
    <span class="button_corporate">{% trans %}Info{% endtrans %}</span>
    </a>

    </div>

  </div>
{% endfor %}

{{ pager|raw }}
</div>
