{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}


<div class="container">
<div class="row flexbox-fix">


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">„Unser“ Ort</h3>
<div class="footer_standort">
UTA  Akademie<br />
Aus- und Weiterbildung<br />
UTA Cologne GmbH<br />
Venloer Str. 5-7 50672 Köln
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">Unser Newsletter</h3>
<form action="https://eu.cleverreach.com/f/4868-130602/wcs/" method="post" target="_blank" id="newsletter-block-form" accept-charset="UTF-8">
<input title="Ihre E-Mailadresse" id="text2943117" class="centered form-newsletter form-control" placeholder="Ihre E-Mailadresse" name="email" value="" type="email" />
<button type="submit" value="{% trans %}Anmelden{% endtrans %}" class="centered button js-form-submit form-submit btn-primary btn" name="">
{% trans %}Anmelden{% endtrans %}
</button>
</form>
<p><a href="/newsletter"><small>Zum Newsletter-Archiv</small></a></p>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">Ihre Fragen</h3>
<div class="centered footer_fragen">
<a href="tel:{{ service_tel }}" target="_blank" title="tel">{{ service_tel }}</a><br />
<a href="mailto:info@uta-akademie.de" target="_blank" title="mail">info@uta-akademie.de</a>
</div>
</div>


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">Folgen Sie uns!</h3>
<div class="footer_follow_links">
<a href="https://www.youtube.com/channel/UCVOhgZcw-NjIRglsgnVrYyw/videos" target="_blank" title="UTA Akademie Youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/utacologne" target="_blank" title="UTA Akademie Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/utacologne/" target="_blank" title="UTA Akademie Instagram“><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>

<div class="col-xs-12 col-lg-12 copyright-area centered">
  <p><small>&copy; {{ 'now'|date('Y') }} UTA Akademie &middot; <a href="/impressum">Impressum</a> &middot; <a href="/datenschutz">Datenschutz</a> &middot; <a href="/agb">AGB</a></small></p>
</div>



<div class="hidden-lg-uta">
{% set items = simplify_menu('partner-websites-menu') %}

<div class="col-md-12 navigation_partner_footer_area">
      <nav class="navigation_partner_footer">
      <small>
      {% trans %}Service-Telefon{% endtrans %}: <a href="tel:{{ service_tel }}" target="_blank" title="tel">{{ service_tel }}</a>
        {% for menu_item in items.menu_tree %}
          | <span>
            <a href="{{ menu_item.url }}" title="{{ menu_item.text }}" target="_blank">{{ menu_item.text }}</a>
          </span>
        {% endfor %}
      </small></nav>
</div>

</div>
</div>
