
.page-admin .views-exposed-form .bg_grey{background-color:transparent;}
.page-admin .views-exposed-form .container{padding-left:0;padding-right:40px;}


/**  Basics  **/
.page-admin a {
  color: #444;
  text-decoration: none;
}
.page-admin a:hover,
.page-admin a:focus {
  color: #444;
  opacity:0.8;
  text-decoration: underline;
}

.page-admin h4, .page-admin  .h4 {
  color:#444;
}

.page-admin .text-primary {
  color: #444;
}

.page-admin .bg-primary,
.page-admin .bg-primary:hover,
.page-admin .bg-primary:active,
.page-admin .btn-default,
.page-admin .btn-default:hover,
.page-admin .btn-default:active {
  color: #fff;
  background-color: #444;
}
.page-admin .table-hover > tbody > tr:hover{background-color:inherit;box-shadow: -5px 0px 0px;}

.page-admin .text-format-wrapper .filter-wrapper{display:none;}
.page-admin dl > dd{margin-bottom:15px;}

.page-admin .region-sidebar-redaktion ul.local-actions{margin:0!important;}
.page-admin .region-sidebar-redaktion ul.local-actions > li{padding:0!important;width:100%;}
.page-admin .region-sidebar-redaktion ul.local-actions > li > a{width:100%;border-radius:0;margin-top:0; padding: 12px; font-size: 16px; font-weight: bold;}

.page-admin .dropbutton-wrapper ul li{list-style:none;}
.page-admin #field-inhaltsbereich-add-more-wrapper .dropbutton-wrapper ul.dropbutton{padding-left:0;}
.page-admin #field-inhaltsbereich-add-more-wrapper .dropbutton-wrapper button.btn-success:before{content:'+';padding:0 7px;font-weight:bold;}
.page-admin #field-inhaltsbereich-add-more-wrapper .dropbutton-wrapper button.btn-success{width:100%;}
  @media(min-width:991px){
    .page-admin #field-inhaltsbereich-add-more-wrapper .dropbutton-wrapper button.btn-success{width:400px;}
  }
/*.page-admin .paragraphs-dropbutton-wrapper > button.btn-success:before{content:'+';padding:0 7px;font-weight:bold;}
.page-admin .paragraphs-dropbutton-wrapper > button.btn-success{margin-left:40px;}
@media(min-width:991px){
  .page-admin .paragraphs-dropbutton-wrapper > button:first-child{margin-left:0;}
}*/


/*** Manage Form Display ***/
.page-admin .field-ui-overview .field-plugin-settings-edit{height:30px;}
.page-admin .field-ui-overview .field-plugin-settings-edit:before{content:'v';}
.page-admin .text-format-wrapper button.link-edit-summary{position:absolute;margin-top:0;right:20px;}

/*** Einfache Seite Add / Edit ***/
.page-admin .field--name-field-textbloecke-akkordeon{margin-bottom:50px;}

/*** Angebote Add / Edit ***/
.page-admin .field--name-field-subline .cke_contents{height:100px!important;}

.page-admin form[class*='node-angebot'] .image-widget{padding-top:0;}
.page-admin form[class*='node-angebot'] .image-widget .preview{width:100%;max-width:600px;}


/*** Artikel / News Add / Edit ***/
.page-admin form[class*='node-article'] .image-widget{padding-top:0;}
.page-admin form[class*='node-article'] .image-widget .preview{width:100%;max-width:600px;}
