@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");


/**   Bootstrap Overriding UTA **/

html{
  overflow-x: hidden;
}

/**   Hack   **/
.breadcrumb {
  display:none;
}

img {
  max-width:100%;
  height:auto;
}

/**  Raster  **/
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height:28px;
  color:#222;
}


/**  Basics  **/

h3,
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}


h1,
h2,
.h1,
.h2,
h3,
.h3 {
  font-family: "Merriweather", Georgia, serif;
  margin-top:0;
}


h1, .h1 {
  	color: #222;
    font-size:28px;
    line-height:40px;
    margin-bottom: 0;
    font-weight:700;
}



h2, .h2 {
    color: #222;
    font-size:24px;
    line-height:32px;
    margin-bottom: 24px;
    font-weight:500;
}

h3, .h3 {
  	color: #222;
    font-size:24px;
    line-height:31px;
    margin-bottom: 24px;
    font-weight:500;
}

h4, .h4 {
  font-weight:bold;
  font-size:16px;
  line-height: 1.5;
  margin:0 0 12px 0;
}

h5, .h5 {
  font-weight:bold;
  font-size:14px;
  margin:0;
}

h6, .h6 {
  font-weight:normal;
  font-size:14px;
  margin:0;
}

p {
    /*margin: 0 0 28px;*/
    margin: 0 0 10px;
}

.padding_bottom {
  padding-bottom:20px;
}
.margin_bottom {
  margin-bottom:20px;
}

.margin_top {
  margin-top:20px;
}

.margin_top_h1 {
  margin-top:50px;
}

.centered {
  text-align:center;
}

.no_padding_top {
    padding-top:0 !important;
}

.no_padding_bottom {
    padding-bottom:0 !important;
}

.no_padding_right {
    padding-right:0 !important;
}

.no_padding_left {
    padding-left:0 !important;
}

.col-style h2.block-title {
    padding-left: 20px;
    padding-right: 20px;
}

.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: none;
}

.container {
  position:relative;
}

.user_container {
  margin-bottom:100px;
}

.inner {
  padding:30px;
}
.main-content .row {
  padding-top:50px;
  padding-bottom:50px;
}

@media (min-width: 992px){
  .main-content.container h1:not(.programm-exposed-headline){ margin-left: -18px; }
}
.main-content .field:not(.field--items) {
  padding-bottom:20px;
}


.main-content #block-views-blocktermine-block-1 .field, .main-content .user-taser-index-img .field  {
  padding-bottom:0;
}


.block {
  margin-bottom:45px;
}
#block-views-block-erfahrungsbericht-block-2{
  margin-top: 45px;
  margin-bottom: 45px;
}

.region-header .block,
.block-views-blockkopfbild-slider-block-1.block,
.start-3-spaltig .block,
header .block
{
  margin-bottom:0;
}
/*@media(max-width: 1024px){
  .region-header{ margin-bottom: 30px; }
}*/
.bg_white.block {
  padding:10px 10px 15px 10px;
}

.angebot_content .field--label-inline .field--label {
  color:#222;
  font-weight:normal;
}

.main-content .angebot_content .block_buchung .field {
  padding-bottom:0px;
}

.views-field-field-text-rechts li{
  list-style:none;
}
.views-field-field-text-rechts li::before{
  content: ">";
  display: inline-block;
  margin-left: -20px;
  width: 20px;
  color: #2D88A2;
}


/***   Angebotsthema  Farbschema   *****/

/* Meditation & Stress 1 */
.color_angebotsthema_1,
.angebotsthema_1 .bg_angebot_top,
.angebotsthema_1 .bg_angebot_top h1,
.angebotsthema_1 .bg_angebot_top .h1,
.angebotsthema_1 .bg_angebot_top h2,
.angebotsthema_1 .bg_angebot_top .h2,
.angebotsthema_1 .bg_angebot_top h3,
.angebotsthema_1 .bg_angebot_top .h3,
.angebotsthema_1 .bg_angebot_top a {
  background-color:#d5d069;
}

.angebotsthema_1 .bg_angebot {
  background-color:#fff;
  background-color:rgba(213, 208, 105, 0.2);
}

.border_angebotsthema_1 {
  border-left:15px solid #d5d069;
}

/* Humanistische & Spirituelle Therapie 2 */
.color_angebotsthema_2,
.angebotsthema_2 .bg_angebot_top,
.angebotsthema_2 .bg_angebot_top h1,
.angebotsthema_2 .bg_angebot_top .h1,
.angebotsthema_2 .bg_angebot_top h2,
.angebotsthema_2 .bg_angebot_top .h2,
.angebotsthema_2 .bg_angebot_top h3,
.angebotsthema_2 .bg_angebot_top .h3,
.angebotsthema_2 .bg_angebot_top a  {
  background-color:#ffe299;
}

.angebotsthema_2 .bg_angebot {
  background-color:#fff;
  background-color:rgba(255, 226, 153, 0.3);
}

.border_angebotsthema_2 {
  border-left:15px solid #ffe299;
}

/* Entwicklungspsychologie 3 */
.color_angebotsthema_3,
.angebotsthema_3 .bg_angebot_top,
.angebotsthema_3 .bg_angebot_top h1,
.angebotsthema_3 .bg_angebot_top .h1,
.angebotsthema_3 .bg_angebot_top h2,
.angebotsthema_3 .bg_angebot_top .h2,
.angebotsthema_3 .bg_angebot_top h3,
.angebotsthema_3 .bg_angebot_top .h3,
.angebotsthema_3 .bg_angebot_top a  {
  background-color:#fabc73;
}

.angebotsthema_3 .bg_angebot {
  background-color:#fff;
  background-color:rgba(250, 188, 115, 0.3);
}

.border_angebotsthema_3 {
  border-left:15px solid #fabc73;
}


/* Traumatherapie 4 */
.color_angebotsthema_4,
.angebotsthema_4 .bg_angebot_top,
.angebotsthema_4 .bg_angebot_top h1,
.angebotsthema_4 .bg_angebot_top .h1,
.angebotsthema_4 .bg_angebot_top h2,
.angebotsthema_4 .bg_angebot_top .h2,
.angebotsthema_4 .bg_angebot_top h3,
.angebotsthema_4 .bg_angebot_top .h3,
.angebotsthema_4 .bg_angebot_top a  {
  background-color:#8ac0b0;
}

.angebotsthema_4 .bg_angebot {
  background-color:#fff;
  background-color:rgba(138, 192, 176, 0.3);
}

.border_angebotsthema_4 {
  border-left:15px solid #8ac0b0;
}

/* Systemische Therapie & Coaching 5 */
.color_angebotsthema_5,
.angebotsthema_5 .bg_angebot_top,
.angebotsthema_5 .bg_angebot_top h1,
.angebotsthema_5 .bg_angebot_top .h1,
.angebotsthema_5 .bg_angebot_top h2,
.angebotsthema_5 .bg_angebot_top .h2,
.angebotsthema_5 .bg_angebot_top h3,
.angebotsthema_5 .bg_angebot_top .h3,
.angebotsthema_5 .bg_angebot_top a  {
  background-color:#cdc09e;
}

.angebotsthema_5 .bg_angebot {
  background-color:#fff;
  background-color:rgba(205, 192, 158, 0.3);
}

.border_angebotsthema_5 {
  border-left:15px solid #cdc09e;
}


/* Massage & Energiearbeit 6 */
.color_angebotsthema_6,
.angebotsthema_6 .bg_angebot_top,
.angebotsthema_6 .bg_angebot_top h1,
.angebotsthema_6 .bg_angebot_top .h1,
.angebotsthema_6 .bg_angebot_top h2,
.angebotsthema_6 .bg_angebot_top .h2,
.angebotsthema_6 .bg_angebot_top h3,
.angebotsthema_6 .bg_angebot_top .h3,
.angebotsthema_6 .bg_angebot_top a  {
  background-color:#7A851E;
}

.angebotsthema_6 .bg_angebot {
  background-color:#fff;
  background-color:rgba(122, 133, 30, 0.2);
}

.border_angebotsthema_6 {
  border-left:15px solid #7A851E;
}



/* Körper- & Yogatherapie 7 */
.color_angebotsthema_7,
.angebotsthema_7 .bg_angebot_top,
.angebotsthema_7 .bg_angebot_top h1,
.angebotsthema_7 .bg_angebot_top .h1,
.angebotsthema_7 .bg_angebot_top h2,
.angebotsthema_7 .bg_angebot_top .h2,
.angebotsthema_7 .bg_angebot_top h3,
.angebotsthema_7 .bg_angebot_top .h3,
.angebotsthema_7 .bg_angebot_top a  {
  /*background-color:#4097cf;*/
  background-color:#57A3D4;
}

.angebotsthema_7 .bg_angebot {
  background-color:#fff;
  background-color:rgba(64, 151, 207, 0.2);
}

.border_angebotsthema_7 {
  /*border-left:15px solid #4097cf;*/
  border-left:15px solid #57A3D4;
}

/* Berufsbilder 8 */
.color_angebotsthema_8,
.angebotsthema_8 .bg_angebot_top,
.angebotsthema_8 .bg_angebot_top h1,
.angebotsthema_8 .bg_angebot_top .h1,
.angebotsthema_8 .bg_angebot_top h2,
.angebotsthema_8 .bg_angebot_top .h2,
.angebotsthema_8 .bg_angebot_top h3,
.angebotsthema_8 .bg_angebot_top .h3,
.angebotsthema_8 .bg_angebot_top a  {
  /*background-color:#d77a48;*/
  background-color:#E88754;
}

.angebotsthema_8 .bg_angebot {
  background-color:#fff;
  background-color:rgba(215, 122, 72, 0.2);
}

.border_angebotsthema_8 {
  /*border-left:15px solid #d77a48;*/
  border-left:15px solid #E88754;
}

/***   Navbar  ****/
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000;
  background-color: none;
}
.navbar-default .navbar-text {
  color: #000;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding-top: 28px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #4a4a4a;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus {
  background-color: transparent;
  color: #ccc;
}

@media(max-width:767px){
  .navbar-default .navbar-toggle {
    padding-top: 28px;
  }
}

/* Nav Dropdown Subnavigation */
.navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    border:0;
}

/*  Language / FB Switcher   */
.block-language ul.links {
  list-style-type: none;
  margin-top:5px;
}

.block-language ul.links li {
  float:left;
  margin-left:8px;
}

.block-language ul.links li.fb_link_lang {
  margin-left:18px;
}

.block-language ul.links li a {
  font-size:18px;
  line-height:24px;
  font-weight:bold;
  text-transform: uppercase;
}

.block-language ul.links li.is-active a {
  text-decoration: underline;
}

.block-language ul.links li.fb_link_lang a {
  font-size:34px;
  position:relative;
  top:-4px;
}

@media (max-width: 1024px){
  .block-language .links{display:none;}
}

/*  Partner Navigation Kopf */
.navigation_partner{
  display:none; /* only display for larger devices */
}
.navigation_partner_item {
  display:inline;
  float:left;
}

.navigation_partner_item a, .navigation_partner_item a:hover {
  color:#eee;
  font-size:12px;
  border-left:1px solid #eee;
  padding:0px 4px;
  line-height:15px;
}

.navigation_partner_item:first-child a {
  border-left:none;
}

.header-contact-tel{
  font-size: 12px;
  line-height: 15px;
  padding: 0px 4px;
  color: #fff;
}
.header-contact-tel a{
  color: inherit !important;
}

@media(min-width:1025px){
  .navbar-header .logo{display:none;}
  .navigation_partner {
    display:block;
    position:absolute;
    top:-63px;
    right:20px;
  }

  .hidden-lg-uta {
    display:none;
  }

}
@media(max-width:1024px){
  .navbar-collapse .logo{display:none;}
}




.block-search .form-control {
  height: 30px;
  width: 186px;
  border-radius: 50px !important;
}

.input-group-btn {
  display:none;
}


/***  Header // Branding  ***/
@media screen and (min-width: 768px) {

.navbar {
    border-top:25px solid #ccc;

}



.logo {
  max-width: 25%;
}

.logo img {
  max-width:100%;
}



.header-contact-tel{
  position: absolute;
  top: -54px;
  left: 20px;
}

.search-block-form {
  max-width: 20%;
  display:inline-block;
  float: right !important;
  margin-top:64px;
  margin-bottom:0;
}

.block-language {
  position:absolute;
  top: -30px;
  right: 20px;

}

#navbar-collapse nav {
  float: right !important;
  margin-top:61px;
}


.navbar > .container {
  /*background:green;*/
  top:35px;
}

}



/**   Footer   **/
.footer {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 15px;
    border-top: none;
}

h3.footer_headline {
  color:#222;
  font-size:18px;
  line-height:20px;
}

.footer_standort {
  font-weight:bold;
}

.footer_follow_links .fa {
  font-size:2.5em;
  margin:0 4px;
}

.footer_fragen, .footer_fragen a {
  font-weight:bold;
  color:#434343;
  /*font-size:20px;
  line-height:36px;*/
}
.footer .copyright-area{
  margin-top:50px;
}

.footer .navigation_partner_footer{
  text-align:center;
}

.footer .row.flexbox-fix::before{
  display:none;
  content: '';
}

@media (max-width: 767px){
  .footer input.form-newsletter{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}


/**  Sidebar Redaktion  **/
.region-sidebar-redaktion {
  position:fixed;
  bottom:10%;
  right:10px;
  width:200px;
  background:#ccc;
}

.region-sidebar-redaktion .nav-tabs > li {
    float:none;
}

.region-sidebar-redaktion .nav > li {
    margin-right: 0;
}

.region-sidebar-redaktion .nav > li > a {
  font-size:14px;
  line-height:24px;
}

/***  Carousel Style //  spez. utaCarousel Start **/

#utaCarousel .carousel-indicators{
  width:auto;
  margin-left:unset;
  transform:translateX(-50%);
}

#utaCarousel .slider_text {
  color:#000;
}

#utaCarousel h4 {
  color:#000;
  font-size:18px;
  line-height:24px;
}

#utaCarousel h1, #utaCarousel h2 {
  font-size:28px;
  font-weight:700;
  color:#000;
  line-height: 160%;
}

span.slider_btn{
  margin-top:0;
}

.slider_btn a {
  font-size:18px;
  line-height:24px;
  text-decoration: none!important;
}

.slider_btn a:hover, .slider_btn a:focus {
  text-decoration: none!important;
}

.gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transform: rotate(450deg);*/
  background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
}

@media (min-width: 1280px){
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 768px) and (max-width: 1279px) {

#navbar-collapse nav {
  margin-top:0;
}



}
@media(min-width:1025px){
  .navbar {
      min-height: 178px;
  }
}

@media screen and (min-width: 768px) {


  #utaCarousel .slider_text {
    position:absolute;
    top:30%;
    width:100%;
    color:#000;
  }

  .form-control {
    max-width:100%;
  }

}

@media screen and (max-width: 1279px) {

  #utaCarousel .slider_text {
    top:15%;
  }


}

@media screen and (max-width: 991px) {


    #utaCarousel h1 {
      font-size:28px;
      line-height:40px;
    }
}
@media screen and (max-width: 767px) {

  #utaCarousel .slider_text {
    margin-top: 20px;
  }

  .gradient{display:none;}


}
/***  User Ansichte #mode_view   ***/
.user-teaser-row .right-col {
    padding-left:0;
}
div[class*="user"] .field--name-field-titel,
 div[class*="user"] .field--name-field-name,
 .field--name-field-dozenten .field--name-field-titel,
 .field--name-field-dozenten .field--name-field-name{
  display:inline-block;
}



.user-full-links .field--name-field-thema {
  margin-top:30px;
}

.label_dozenten {
  margin-top:30px;
}

.label_dozenten .field--item {
  margin-bottom:10px;
}

button[id^="edit-submit-dozenten-index"]{
  margin-top:-28px !important;
}


/*** Startseite ***/


/***   Bereich 3-spaltig  ***/
.start-3-spaltig h2 {
  color: #222;
}

/* Thenmen / links */
.color_block_term {
  height:60px;
  margin-bottom:18.33px;
  padding:10px;
}

.color_block_term h3  {
  color:#222;
  font-size:18px;
  line-height:24px;
  margin-bottom:0;
}

.color_block_term h3 a {
  color:#222;
}

/* Angebote / mitte */
.angebotteaser_block {
  position:relative;
}
.angebotteaser_block .img-responsive{
  width: 100%;
}

.start-3-spaltig .mitte .views-row,
.ausgewaehlte_angebote .views-row {
  margin-bottom:32px;
}

#print-download img{
  float:left;
  max-width: 40%;
  margin-right: 12px;
  margin-bottom: 12px;
}

/*.start-3-spaltig .mitte .views-row:last-child {
  margin-bottom:0;
}*/

.angebotteaser_block #gradient {
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:124px;

    background: none;
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);

}

.angebotteaser_block h3 {
  position:absolute;
  bottom:0;
  margin-bottom:0;
  padding:0 10px 15px 10px;
  font-size:18px;
  line-height:24px;
  color:#000;
  z-index:10;
  text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

.angebotteaser_block h3 a {
  color:#222;
}

/* Termine  //  rechts */
.termin_teaser h4 {
  line-height:28px;
  color:#333;
  margin-bottom:0;
}

.termin_teaser h4 a {
  color:#333;
}


.main-content .termin_teaser .field{
  padding-bottom:0;
}
.main-content .termin_teaser.row {
  padding-top:0;
  /*padding-bottom:28px;*/
  margin-bottom:20px;
  padding-bottom:0;
}
@media(min-width:992px) and (max-width:1279px){
  .main-content .termin_teaser.row .termin_zeitraum{
    font-size:13px;
  }
}
.views-field.views-field-field-text-rechts, .block-views-blockdemnaechst-bei-uta-block-1 {
  background-color:#f1f1f1;
  padding: 0 20px 20px 20px;
}


/*Exposed Filter*/
@media(min-width:992px){
  [id*="exposed-filter"] .main-content .row{
    display:table-cell;
  }
  [id*="exposed-filter"] .main-content .row > div{
    vertical-align: bottom;
    float: none;
    display: inline-block;
    margin: -2px;
  }
}
/*** Programm Liste ***/

.row.angebot_teaser{
  margin-left: 0;
}

.angebot_teaser h4 {
  line-height:28px;
  color:#333;
  word-wrap: break-word;
}
.angebot_teaser .field--name-field-dozenten .field--name-field-name,
.angebot_teaser .field--name-field-dozenten .field--name-field-titel{
  padding-bottom:0;
  display:inline-block;
}
.angebot_teaser_teaser h4 a {
  color:#333;
}
.main-content .angebot_teaser.row {
  padding-top:0;
  /*padding-bottom:28px;*/
  margin-bottom:28px;
  padding-bottom:0;
}
.angebot_teaser.row a.button_corporate{
  min-width: 120px;
}

.angebot-label{
  font-family: "Merriweather", Georgia, serif;
  display:inline-block;
  padding: 4px 24px;
  font-weight: 400;
}

.col-angebot-text .angebot-label{
  margin-bottom:15px;
}

.angebotteaser_block .angebot-label, .angebotsteaser_thema .angebot-label{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.angebot_teaser.row .angebot-label{
  font-size: 14px;
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

.top_row.bg_angebot_top .angebot-label{
  position:absolute;
  top: 0;
  left: 0;
}
@media(min-width: 768px){
  .top_row.bg_angebot_top .angebot-label{
    margin-left: 20px;
  }
}

.programm #block-text-rechts {
  padding:30px;
}

.btn.btn-default.btn-programm-submit{
  margin-top: 0;
}

.view-programm-uebersicht .view-content .views-row:first-child hr{margin-top: 0;}

.alert-warning-programm-no-results{ background-color: #2D88A2 }
.alert-warning-programm-no-results h4{color:white; margin-bottom: 12px !important; margin-top: 12px !important; font-weight: 600;}

/*** Themen Übersicht / Taxonomy Übersicht ***/
.view-taxonomy-term .paragraph{
  background-color:transparent;
}
.view-taxonomy-term .paragraph *{
  color:#222!important;
}
.view-taxonomy-term .field{
  padding-bottom:0;
}
/* Angebotsteaser Thema */
.angebotsteaser_thema{
  margin-bottom:20px;
  position: inherit;
}
.angebotsteaser_dozenten {
  display:inline-block;
}
.angebotsteaser_thema .left-float {
  float:left;
}

.angebotsteaser_thema .left-float.link_view_user {
  padding-left:5px;
}

.angebotsteaser_thema .teaser_bottom{
  padding:20px;
}

.angebotsteaser_thema h2{
  font-size:18px;
  margin-bottom:0;
}
.angebotsteaser_thema .field{
  padding-bottom:0 !important;
}
.angebotsteaser_thema .field--name-field-dozenten, .angebotsteaser_thema .field--name-field-dozenten .field--item{
  display:inline-block;
}
.angebotsteaser_thema .button_corporate{
      background-color:#fff;
      display:block;
}
.angebotsteaser_thema .field--name-field-dozenten .field--item article a:after{
    content:',';
}
.angebotsteaser_thema .field--name-field-dozenten .field--item:last-child  article a:after{
    content:'';
}
.angebotsteaser_thema .img-responsive{width: 100%;}
@media screen and (min-width: 768px) {
  .angebotsteaser_thema{
    height:570px;
  }
  .angebotsteaser_thema .button_corporate{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.view-taxonomy-term .feed-icons {
  display:none;
}

/*** Social Share ***/
#social-share{
  margin-top:25px;
  margin-bottom:25px;
}
#social-share a:hover{
  text-decoration:none;
}
#social-share a:before{
  font-size:40px; margin-left: 7px;
}

/***   Content Bottom  ***/

.block-views-blockspruch-block-1 {
    margin-bottom:0;
}

/* Spruch */
.spruch-container {
  position:relative;
  max-height:22vw;
}

.spruch-container img {
  max-height:22vw;
}

.spruch-container #gradient {
    position:absolute;
    z-index:2;
    width:100%;
    height:22vw;
    right:0; bottom:0; left:0;
	  /*transform: rotate(630deg);*/
    background: none;
    /*background: -moz-linear-gradient(left, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);*/
    background: linear-gradient(to right, #FFFFFF 0%, rgba(255,255,255,0) 100%);

}

.main-content .spruch-container .field {
    padding-bottom: 0;
}

.spruch-container .spruch_container {
  position:absolute;
  width:100%;
  z-index:10;
  top: 50%;
  transform: translateY(-50%);
}

.spruch-container .spruch_body {
  font-family: "Merriweather", Georgia, serif;
  font-size:36px;
  color:#000;
  font-style: italic;
  line-height: 140%;
}

.spruch-container .spruch_autor {
  color:#000;
}

@media (max-width: 991px){
  .spruch-container #gradient{ display:none; }
  .spruch-container .spruch_container{
    position: static;
    top: auto;
    transform: none;
  }
  .spruch-container .spruch_container .row{padding-bottom: 0; padding-top: 0;}
  .spruch-container{max-height: unset; margin-bottom: 40px;}
}



/****    Angebote Detailseite   ****/

.angebot_content h4 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
.angebot_content h3 {
  margin-bottom: 10px;
}

.bg_angebot_top h1,
.bg_angebot_top .h1 {
  font-size:32px;
}

.bg_angebot_top h2,
.bg_angebot_top .h2 {
  font-weight:normal;
}
@media(max-width:767px){
  .col-angebot-text{
    padding-top:15px;
  }
  .bg_angebot_top .angebot_zeitraum{
    margin-bottom:20px;
  }
  .bg_angebot_top .field--name-field-vorschaubild{
    margin:0 -20px;
  }
}
@media(max-width:991px){
  .col-angebot-text h2{
    margin-bottom:5px;
  }
  .col-angebot-text h2 > div{
    padding-bottom:0!important;
  }
}
@media(min-width:1280px){
  .container{
    width: 1240px; /* horizontal scrollbar fix */
  }
  .col-angebot-text {
    margin-top:40px;
  }
}
@media(max-width: 1279px){
  .col-angebot-text{
    padding-top:15px;
  }
}

.bg_angebot_top .angebot_zeitraum {
  display:inline-block;
  border:3px solid #fff;
  font-size:20px;
  font-weight:bold;
  padding:10px;
  max-width: 150px;
  margin-bottom:20px;
}

.main-content .angebot_zeitraum .field {
  padding-bottom:0;
}

.field--name-field-teilnehmerkommentar {
  font-style: italic;
  font-family: "Merriweather", Georgia, serif;
}
.main-content .field.field--name-field-teilnehmerkommentar {
  padding-bottom:0px;
  margin-top:50px;
}


.field--name-field-teilnehmerinfo{
  margin-top: 12px;
  font-size:18px;
  line-height:24px;
}
strong.teilnehmerstimme-teilnehmerinfo{
  font-weight: 600;
}

.main-content .block_buchung {
  font-size:14px;
  line-height:24px;
}

.main-content .block_buchung .row,
.main-content .row.user-teaser-row  {
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-content .block_buchung label {
  margin-bottom:0;
  font-weight:normal;
  color:#222;
}

.main-content .block_buchung .row{
  margin-bottom: 12px;
}

.bg_angebot_top .row {
  padding-top:0;
  padding-bottom:0;
}

.main-content .field.field--name-field-vorschaubild {
  padding-bottom:0;
}

.referenzierte-angebote, .uebergeordnetes-angebot {
  margin-top: 24px;
}

.referenzierte-angebote h4, .uebergeordnetes-angebot h4{
  margin-bottom: 5px;
}

.angebot-trennlinie{
  border-top: 1px solid #999;
  margin-bottom: 0;
}

/****    Angebote Anmeldung   ****/

.block_angebot_anmeldung {
  padding:20px;
}

.block_angebot_anmeldung h2 {
  margin-bottom:10px;
}
.block_angebot_anmeldung h4 {
  color:#222;
  margin-bottom:15px;
  line-height:28px;
  font-weight:normal;
}

.block_angebot_anmeldung .row {
  padding:0;
}

.block_angebot_anmeldung .buchung-label {
  color:#222;
}

/*****   News Indexseite // masonry  *******/

.masonry-layout {
  margin-left: -20px;
  margin-right: -20px;
}

.masonry-item {
  margin-bottom:40px;
}

.main-content .article_teaser .field {
  padding-bottom:0;
}

.article_teaser h2 {
  font-size:18px;
  line-height:24px;
  margin:20px 0 10px 0;
}

.article_teaser .more_link {
  white-space:nowrap;
}
/* News Exposed Filter*/
@media(min-width:992px){
  #block-news-exposed-filter .main-content .row{
    display:table-cell;
  }
  #block-news-exposed-filter .main-content .row > div{
    vertical-align: bottom;
    float: none;
    display: inline-block;
    margin: -2px;
  }
}

/*******   News Detailseite    ********/

.autor_teaser.row {
  padding-top:0;
  padding-bottom:0px;
}

.main-content .news_content .field.field--name-field-vorschaubild {
  padding-bottom: 20px;
}

.news-author-block{
  margin-bottom:32px;
}
.news-author-block .row, .news-author-block .field{
  padding:0;
}

/*******   FAQ    ********/
.faq .page-header {
    padding-bottom: 9.5px;
    margin: 0 0 21px;
    border-bottom: none;
}

/****** Kontakt Seite ******/

.form-item legend {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    border-bottom:none;
    margin-bottom:5px;
}

.contact-registration-form-content label.form-required::after, .form_gaestezimmer label.form-required::after {
    background: none;
    content: '*';
    color: red;
    width: 10px;
    display: inline-block;
    margin-left: 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
    appearance:textfield;
}


.uebernachtungsinfo {
  clear:both;
  padding-top:40px;
  width:60%;
  margin-left:38%;
}
@media(max-width:991px){
  .uebernachtungsinfo {
    margin-left:0!important;
  }
  .form-item-uebernachtung label.control-label{
    margin-left:0!important;
    padding-left:0;
  }
}
@media(min-width:768px){

  .form-item.form-group {
    margin-bottom:0;
    height:50px;
  }
.form-item-plz input{
  width:28%!important;
}
  #edit-uebernachtung--wrapper {
    margin-bottom:0;
    height:70px;
  }

.form-item-uebernachtung label.control-label{
    width:60%;
    margin:0px 0 0 38%;
    /*min-width: 0;
    position: relative;
    left: 0 !important;*/
  }

.form-item-uebernachtung.checkbox {
  margin-top:0;
}

  .form-item-uebernachtung input{
    display: inline-block;
    position:relative !important;
    min-width: 0;
    width: 15px !important;
    min-height: 0;
  }



.radio input[type="radio"] {
  margin-left:0;
  }
.radio label {
      position:relative;
      top:-8px;
      left:5px;
}




.form-item {
  clear:both;
}
.form-item label, .form-item legend {
  min-width:38%;
  color:#222;
  float:left;
}
.form-item-strasse label{
  max-width:41%;
}

.form-item legend {
    width:38%;
}

.form-item label:after{
  color:#222;
}
.form-item input,
.form-item textarea,
.form-item.form-inline .form-control,
.form-item.fieldgroup .fieldset-wrapper
 {
  width:50%;
  float:right;
}

.form-item.form-inline input[type="date"] {
  width:30%;
}

.form-item .select-wrapper {
  width:60%;
}
.form-item .select-wrapper.full-width{
  width:100%;
}


.views-exposed-form .form-item .select-wrapper, .views-exposed-form .form-item input {
  width:100%;
}

}

@media(min-width:992px){
  .form-item input,
  .form-item textarea,
  .form-item.form-inline .form-control,
  .form-item.fieldgroup .fieldset-wrapper
   {
    width:60%;
    float:left;
  }
  .form-item-plz input{
    width:28%!important;
    float:right!important;
  }
}
@media (min-width:1280px){
  #edit-submit-news{
    margin-top:-38px;
  }

}


.form-item select{
  width:100%;
  float:left;
}


.form-item-plz label{
  /*width: calc(100% - 110px);*/
  min-width: 38%;
}
.form-item-plz{
  display:inline-block;
  width:55%;
  float:left;
}
.form-item-plz input{
  width: 28%;
  float: right;
  margin-right: 12px;
}

.form-item.form-group.form-item-ort {
  display:inline-block;
  width:44%;
  margin-bottom: -10px;
}

.form-item-ort input {
  width:98%;
}

.webform-button--submit.button {
  margin-left:38%;
  margin-top:20px;
}
#edit-required-fields{
  margin-left:38%;
  margin-top:10px;
  float: left;
  width: 100%;
}
#edit-required-fields span{
  color:red;
}

.form-item-agb label {
  width:60%;
  margin:20px 0 0 38%;
}

#edit-agb {
  position:static;
  width:auto;
}

.angebot-buchen .form-actions {
  margin-left: 38%;
}

.captcha {
  max-width:60%;
  margin-left:38%;
  clear:both;
}

.kontakt_form_page .captcha {
  padding-top:24px;
}

@media(max-width:768px){
  .captcha {
    max-width:100%;
    margin-left:0;
  }
  .captcha > div {
    margin-left:50%;
    transform:translateX(-50%);
  }
  #edit-required-fields{
    margin-left:0!important;
  }
  .form-item-agb label{
    margin-left:0!important;
  }
}
@media(max-width:599px){
  .captcha > div {
    margin-left:40%;
    transform:translateX(-50%);
  }
}
@media(max-width:1279px){

  .form-item-plz{
    width:54%  !important;
  }
  .form-item.form-group.form-item-ort {
    width:46%;
  }
}
@media(min-width:768px) and (max-width:991px){
  .form-item-plz{
    width:72%  !important;
  }

  .form-item.form-group.form-item-ort {
    width:28%;
  }
  .form-item-geschlecht .select-wrapper{
    float:right;
    width:50%;
  }
  .form-item-land .select-wrapper{
    float:right;
    width:50%;
  }
}
@media(max-width:991px){

  #exposed-filter .form-item .select-wrapper{
    margin-top: 20px;
  }

  .btn.btn-default.btn-programm-submit{
      margin-top: 20px;
  }


}

@media(max-width:767px){
  .form-item-plz input{
    width: 100%;
    float:left;
  }
  .form-item-plz{
    width:40%  !important;
  }
  .form-item.form-group.form-item-ort {
    width:100%;
  }
  .angebot-buchen {
    margin-bottom: 30px;
  }

}


/**  Akkordeon  **/
.akkordeon-item {
  position:relative;
  left:20px;
  margin-bottom:20px;
}

.akkordeon-item h3 {
  margin-bottom:12px;
  /*margin-top: 6px;*/
}

.akkordeon-item h3 a,
.akkordeon-item h3 a:hover
.akkordeon-item h3 a:active {
  text-decoration: none !important;
}

.akkordeon-item h3 a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.akkordeon-item h3 a.akkordeon-out, .akkordeon-item h3 .akkordeon-out .fa-play:before {
  color: #222;
}

.akkordeon-item .akkordeon-content {
  padding-right:20px;;
}


/******** Dozenten Index *********/
#views-exposed-form-dozenten-index-block-1 .row{
  padding:0;
}
#views-exposed-form-dozenten-index-block-1 .form-item,
#views-exposed-form-dozenten-index-block-1 .form-actions{
  display:inline-block;
}
@media(max-width:767px){
  #views-exposed-form-dozenten-index-block-1 .form-actions button{
    margin-top:0;
  }
}
@media(min-width:768px){
  #views-exposed-form-dozenten-index-block-1 .form-actions{
    margin-left:30px;
  }
}

/**********    Dozenten   ***********/

.user-teaser-index-row {
  position:relative;
  margin-bottom:40px;
}

.user-taser-index-name {
  position:absolute;
  bottom:15px;
  z-index: 10;
  margin-bottom: 0;
  padding: 0 10px 0 10px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Merriweather", Georgia, serif;
  font-weight:500;
  text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

.user-teaser-index-row a, .user-teaser-index-row a:hover, .user-teaser-index-row a:active {
  color:#000;
  text-decoration: none;
}

.gradient-user-index {
  position:absolute;
  z-index:2;
  right:0;
  bottom:0;
  left:0;
  height:150px;
  background: none;
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
  }

.user-full-rechts a.button_corporate{
  padding:0 7px;
  background-color:#fff;
}

.ansprechpartner_row.block {
  margin-bottom:0;
}

.ansprechpartner_row h4 {
  color:#222;
  font-family: "Merriweather", Georgia, serif;
  line-height:1.4em;
  padding:10px 0 0 0;
}

.view-ansprechpartner {
  line-height:18px;
}

.view-ansprechpartner .mitarbeiter-kachel {
  margin-bottom:40px;
}

/* NEWSLETTER */
#crArchive{border:0;}
#crArchive .crArchiveItem{padding:20px;}
#crArchive .crArchiveItemDate{
  min-width:95px;
}
@media(min-width:768px){
  #crArchive .crArchiveItemDate{
    min-width:110px;
  }
}
/*** SEARCH PAGE ***/

.search-page-container #search-form, .search-page-container h2{
  display:none;
}
