/* ALLGEMEIN */

header{height: 80px;}

.navbar {
  border: 0px solid transparent;
}

body.nav-expanded{
  position:fixed;
  top:0;
  left:0;
}
#navbar-collapse nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
}

#navbar-collapse nav ul > li {
    float:left;
    position:relative;
}

@media (max-width: 1024px){
  #navbar-collapse nav ul > li:not(.sub-menu-parent){
    margin-left: 54px;
  }
}

#navbar-collapse nav ul:before,.nav ul:after {
    content:"";
    display:table;
}

#navbar-collapse nav ul:after {clear:both;}

#navbar-collapse nav ul > li:hover{}


#navbar-collapse nav a {
    display:block;
    font-size:18px;
    padding: 10px;
}
#navbar-collapse nav a:hover, #navbar-collapse nav li ul a:hover {
  text-decoration:none;
}

#navbar-collapse nav li ul a.is-active {
  color:#000;
}

#navbar-collapse nav li ul a {
    border:none;
    text-align:left;
    padding:3px 15px;
    font-size: 16px;
    line-height:36px;
    color:#000;
    white-space: pre;
}

#navbar-collapse nav li ul a:hover
{
  opacity:0.6;
}

/* slide */
#navbar-collapse nav li ul {
    position:absolute;
    left:0px;
    top:40px;
    z-index:1;
}
#navbar-collapse nav li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}
/* Startseite Link nur im Mobilen anzeigen */
#navbar-collapse nav ul.navbar-nav > li:first-of-type {display:none;}

.suche-mobile{
  margin-bottom: 32px !important;
}
.suche-mobile .input-group input{
  width: 60vw !important;
}
.block-search.suche-mobile{
  float:left !important;
  margin-left: 15px;
}
.block-views-exposed-filter-blocksearch-solr-page-2.suche-mobile {
  float:left !important;
  margin-left: 15px;  
}

/* Mobile */
@media(max-width:454px){
  .navigation_partner li:last-child a{border-left:0;}
}
@media(max-width:499px){
  #navbar-collapse nav a {font-size:18px;}
  #navbar-collapse nav li ul a{font-size:15px;}
}
@media(max-width:767px){
  #navbar-collapse .logo.navbar-btn{float:none!important;}
}

@media(min-width:768px) and (max-width:1024px){
  #navbar-collapse nav > ul > li:last-child{margin-right:0!important;}
}


@media (max-width: 1024px) {
    #navbar-collapse nav > ul{ overflow:hidden;}
    #navbar-collapse{/*overflow:scroll!important;*/height:0;margin-right:0;margin: 0!important;-webkit-transition:height 150ms ease-in;  -moz-transition:height 150ms ease-in;  -o-transition:height 150ms ease-in; transition:height 150ms ease-in;}
    #navbar-collapse nav{margin-bottom: 15px;margin-top: 30px;}
  .navbar .logo{padding-top:20px; padding-left:20px;/*padding-right:20px;*/}
    .sub-menu-parent.toggled > .sub-menu.opened li{height:30px!important;}
    .sub-menu-parent .menu-toggle{display:inline-block;text-align: center;position:relative;width:50px; height: 35px; line-height: 1.7;}
    /*.menu-toggle:before{content:"\f063";font-family:'FontAwesome';font-size:20px;}*/
    .menu-toggle{transform:rotate(0deg) translateY(0px);-webkit-transition:transform 100ms ease-in;  -moz-transition:transform  100ms ease-in;  -o-transition:transform  100ms ease-in; transition:transform  100ms ease-in;}
    .toggled .menu-toggle{transform:rotate(90deg) translateY(5px);-webkit-transition:transform 100ms ease-in;  -moz-transition:transform  100ms ease-in;  -o-transition:transform  100ms ease-in; transition:transform  100ms ease-in;-webkit-transition-delay: 0.15s;  transition-delay: 0.15s;}
    .navbar-toggle{display:block;}
    .navbar-toggle .icon-bar{width: 30px; height: 4px; border-radius: 10px;}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:transparent;border-radius:2px!important;}

    header .navbar-toggle{position:fixed;top:0;right:5px;margin-right:0;z-index:999;margin-top:3px;}
    header.navbar{margin:0 !important;}

    .navbar{border:0;}
    .navbar-header{ min-height: 80px; background: #fff; position: fixed; width: 100%; top:0; left:0; z-index: 9998; margin-right: 0!important; margin-left: 0!important;}
    .navigation_partner{ position: fixed; top: 5px; left: 15px; right:unset;z-index: 9999; }
    .navigation_partner a{color:#999;}
    .navbar-collapse { opacity:0.95; width:100vw;position:fixed; left:0; top:50px; background:#fff; z-index:900; padding:10px 0 0 0; }
    .navbar-collapse.collapse {display: none!important;}
    .navbar-fixed-top {top: 0; border-width: 0 0 1px; }
    .navbar-nav { float: none!important; }
    .navbar-nav li>a { padding-left:20px!important; min-width:175px; display:inline-block!important; }
    .navbar-collapse.collapse.in{
      display:block !important;
      /*height:calc(100% - 50px)!important;*/
      height: auto !important;
      width: 100vw; }
    .navbar-nav > .sub-menu-parent, .navbar-nav > .menu-item{ width:100%; text-align:left; }
    .navbar-nav .expanded{width: 100%;}
    .suche-desktop{ display:none; }

    .navbar-nav > .sub-menu-parent.active a{}
    #navbar-collapse nav li ul { position:relative; left:0; top:0; z-index:1; }
    #navbar-collapse nav ul > li ul{ margin-bottom:0px; }
    .navbar-nav > .sub-menu-parent ul li{ width:100% !important; }
    .navbar-nav > .sub-menu-parent ul li a{ padding-left:35px!important; padding-right:35px!important;}
    #navbar-collapse nav ul > li ul.opened{ margin-bottom: 10px; }
    #navbar-collapse nav > ul > li:last-child a{ padding-right:15px; }
    #navbar-collapse nav ul.navbar-nav > li:first-of-type { display:block!important; }

    .block-search{ max-width:none;margin-right:15px;margin-top:0;float:right;}
    .block-search .form-control{ float: right;   min-width: 250px;}
    .block-search .form-group{margin-bottom:0;}

    .block-views-exposed-filter-blocksearch-solr-page-2{ max-width:none;margin-right:15px;margin-top:0;float:right;}
    .block-views-exposed-filter-blocksearch-solr-page-2 .form-control{ float: right;   min-width: 250px;}
    .block-views-exposed-filter-blocksearch-solr-page-2 .form-group{margin-bottom:0;}

    header .navbar-btn img{max-width:150px;}
    #block-sprachumschalter{position:fixed;bottom:50px;right:30px; top: unset;}
}

@media(min-width:1025px){


  #navbar-collapse nav ul > li:hover ul li {
    height:40px;
    width:100%;
    border-bottom:1px solid #eee;
  }

  #navbar-collapse nav ul > li:hover ul li:last-child {
    border-bottom:none;
  }
  .menu-toggle{display:none!important; }
  #navbar-collapse nav li ul { background:#fff; }

  .suche-mobile{ display:none;}

}
