/**
 * UTA Mobile CSS
 */

@media(max-width:499px){
  .navigation_partner{margin-right:50px;}
}
@media (max-width: 767px) {
  .spruch-container .spruch_container .spruch_body{
		font-size:20px;
	}
  .spruch-container .spruch_container .row{
    padding-top:0;
    padding-bottom:10px;
  }
  .navigation_partner .navigation_partner_item{
    line-height:1.3;
  }

  footer{
    padding-bottom: 10px!important;
  }

  #utaCarousel .carousel-indicators li{
    margin-left:6px;
    margin-right:6px;
  }
  #block-views-block-startseite-slider-block-1 .carousel-indicators{
    margin-bottom:0;
    bottom:-35px;
  }
  #block-views-block-startseite-slider-block-1 .carousel-indicators li{
    border: 1px solid #ccc;
  }
  #block-views-block-startseite-slider-block-1 .carousel-indicators .active{
    background-color:#ccc;
  }
}

@media(max-width:767px){
  .view-content > div[class*='col-']{padding-bottom:20px;}
}

@media screen and (max-width: 767px)
and (orientation : landscape ) {



}


@media screen and (max-width: 767px)
and (orientation : portrait) {

  #utaCarousel h2 {
    line-height:30px;
  }

}
