/**
 * UTA Tablet CSS
 */

@media (max-width: 1024px) {

	h1, .h1{
		font-size:25px!important;
		line-height: 35px;
	}
	h2, .h3{
		font-size:20px!important;
	}
	.page-header{
		margin:15px 0 15px 0;
	}
	#utaCarousel h1{
		font-size:25px;
		line-height: 34px!important;
	}

}


@media (max-width: 991px) {

	/* Footer */
	footer .row{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	footer .row > div.centered{
		margin-bottom:40px;
	}
	footer h3.footer_headline{
		margin-bottom:18px;
	}

	.spruch-container .spruch_container{
		bottom:0;
	}
	.angebot_content .no_padding_left{
		padding-left:20px!important;
	}
}

@media(max-width:1200px){
	/* Termin Teaser */
	.termin_teaser .no_padding_left{
		padding-left:20px!important;
	}

}

/* very small desktop */
@media (max-width: 1023px) and (min-width: 768px)  {

}


/* portrait */
@media screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {



}


/* small desktop */
@media (min-width: 1024px) and (max-width: 1123px) {



}


/* landscape  */
@media screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape ) {




}





@media (min-width: 768px) {

}

@media (min-width: 1024px) {



}
