{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}


<div class="dozent-full">
<div class="container">

<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 links user-full-links">

<h1>{{ profile_user.titel }} {{ profile_user.name }}</h1>

<div class="user_kurztext">{{ profile_user.kurztext|raw }}</div>

<div class="user_thema">{{ content.field_thema }}</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mitte user-full-mitte">

<div class="user_nutzerbild">{{ profile_user.nutzerbild_medium }}</div>
<div class="user_motto">{{ content.field_motto|raw }}</div>
{{ block_dozent_bearbeiten }}
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rechts user-full-rechts">



{% if (block_dozent_angebote|render|striptags|trim != "") %}
<h4>{% trans %}Aktuelle Veranstaltungen{% endtrans %}</h4>
{{ block_dozent_angebote }}

<a href="{{ dozent_alle_angebote_link }}" class="button_corporate margin_top_small margin_bottom_small" title="{% trans %}Alle Angebote des Dozenten{% endtrans %}" target="_self">
{% trans %}Alle Angebote des Dozenten{% endtrans %}</a>
{% endif %}

<div class="user_kurzmassagen margin_top">{{ content.field_kurzmassagen }}</div>


{% if (block_dozent_einzelsitzungen|render|striptags|trim != "") %}
<h4 class="margin_top_small">{% trans %}Einzelsitzungen{% endtrans %}</h4>
{{ block_dozent_einzelsitzungen }}
{% endif %}


<div class="label_dozenten">{{ content.field_label }}</div>

</div>

</div>

</div>
</div>
