#custom_filter_dozenten.main-content .row {
  padding-top:0;
  padding-bottom:0;
}


#custom_filter_dozenten .einzelsitzungen, #custom_filter_dozenten .themenbereiche {
    display: inline-block;
    float:left;
    max-width:300px;
    margin-right:20px;
}


input[type="ckeckbox"] {
    display:none;
}

input[type="ckeckbox"] + label {
  padding-right:20px;
}

input[type="ckeckbox"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:#fff;
    border:1px solid #222;
    cursor:pointer;
}

input[type="ckeckbox"]:checked + label span {
    background:#222;
}
