input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
  padding-right:20px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:#fff;
    border:1px solid #222;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:#222;
}
