{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}


<div class="bg_grey">
<div class="container main-content">
<div class="row">
{% if action_title %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<h1>{{ action_title }}</h1>
</div>

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
{% else %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
{% endif %}

{% if q is not empty %}
{{ q }}
{% endif %}

{{ form }}

</div>
{% if action_title %}
</div>
{% endif %}
</div>
</div>
