{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}

<div class="bg_grey">
<div class="container main-content">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<h1>{{ action_title }}</h1>
</div>


{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
{{ form.thema }}
</div>


<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
{{ form|without('thema') }}
</div>


</div>
</div>
</div>
</div>
