{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<div class="user-teaser-index-row">

<a href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" title="weitere Infos" target="_self">
<div class="user-taser-index-img">
  {{ content.field_nutzerbild }}
</div>
<div class="gradient-user-index">
    </div>
<div class="user-taser-index-name">
    {#{ content|without('field_nutzerbild') }#}
    <p>{{- content.field_titel|render|striptags|trim -}}
    {% if content.field_titel|render is not empty %}&nbsp;{% endif %}
    {{- content.field_name|render|striptags|trim -}}</p>
  </div>

</a>
</div>
{% endif %}
