{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<article class="user-full">
<div class="container">

<div class="row">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 links user-full-links">
<h1>{{ content.field_titel }} {{ content.field_name }}</h1>

{{ content|without('field_name','field_titel') }}
</div>


</div>

</div>
</article>
{% endif %}
