{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}



{%- if items|length > 1 -%}

  {%- set car_id = element['#object'].field_bild_inhaltsblock.0.value.target_id -%}

  <div id="img-carousel-{{ car_id }}" class="carousel slide" data-ride="carousel" data-interval="45000">

    <ol class="carousel-indicators">
    {%- for item in items -%}
      <li data-target="#img-carousel-{{ car_id }}" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
    {%- for item in items -%}
      <div class="item {% if loop.first %}active{% endif %}">
        <img src="{{- file_url(item.content['#item'].entity.uri.value) -}}" title="{{ item.content['#item'].title }}" alt="{{ item.content['#item'].alt }}">
      </div>
    {%- endfor -%}
    </div>

  </div>


{%- else -%}

    {%- for item in items -%}

    <img src="{{- file_url(item.content['#item'].entity.uri.value) -}}" {{ attributes }}>

    {%- endfor -%}

{%- endif -%}
