{% for item in items %}
<p class="field field--name-field-teilnehmerinfo field--type-string field--label-hidden field--item">
  <strong class="teilnehmerstimme-teilnehmerinfo">~ {{ item.content }}</strong>
</p>
{% endfor %}
