{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set thema_class = 'angebotsthema_' ~ content.field_thema|render|striptags|trim %}


{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    thema_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

<div class="top_row bg_angebot_top">
<div class="container">
  <div class="row">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-angebot-text">

    <h1>{{ label }}</h1>
    <h2>{{ content.field_bezeichnung }}</h2>
    {% if content.field_zeitraum|render|striptags|trim != '' %}
    <div class="angebot_zeitraum">
      {{ content.field_zeitraum }}
      {{ content.field_uhrzeiten_header }}
    </div>
    {% endif %}

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">

{%- if content.field_label|render is not empty -%}
<strong class="angebot-label">{{ content.field_label|render|striptags|trim }}</strong>
{%- endif -%}
{{ content.field_vorschaubild }}

</div>
</div>
</div>
</div>

<div class="angebot_content bg_angebot">
<div class="container">
  <div class="row">

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

  <div{{ content_attributes.addClass('content') }}>

  <div class="uta-angebot-akkordeon" id="accordion">
  {{ content.field_textbloecke_akkordeon }}
  </div>

    {{ content|without('field_termin','field_termin_regel','field_abweichende_seminarsprache','field_bezeichnung','field_uhrzeiten_info','field_uhrzeiten_header','field_termininfo','field_textbloecke_akkordeon','field_thema','field_vorschaubild','field_zeitraum','field_dozenten','field_seminarsprache','field_zugehoerige_angebote','field_preistarife','field_text_rechts','field_seminar_id','field_preis','field_buchbar','field_preisnotiz','field_anzahlung','field_label') }}
    </div>

</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

{%- if angebot_dozenten_block -%}
  {{ angebot_dozenten_block }}
{%- endif -%}

{% if content.field_abweichende_seminarsprache.0 %}
  <div class="margin_bottom">
  <h3>{% trans %}Abweichende Seminarsprache{% endtrans %}</h3>
  {{ content.field_abweichende_seminarsprache }}
  </div>
{% endif %}

{% if content.field_termininfo|render|striptags|trim != '' %}
<h3>{% trans %}Info{% endtrans %}</h3>
{{ content.field_termininfo }}
{% endif %}

{% if content.field_termin|render|striptags|trim != '' %}
<h3>{% trans %}Termin(e){% endtrans %}</h3>
<div class="termin_teaser row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{ terminliste_angebote }}
  </div>
</div>
{% endif %}


{% if content.field_termin_regel|render|striptags|trim != '' %}
<h3>{% trans %}Wiederkehrende Termine{% endtrans %}</h3>
{{ content.field_termin_regel }}
{% endif %}



{% if uebergeordnetes_angebot|render|striptags|trim != '' %}
<div class="margin_bottom padding_bottom">
<h3>{% trans %}Übergeordnetes Angebot{% endtrans %}</h3>
{{ uebergeordnetes_angebot }}
</div>
{% endif %}


{% if content.field_zugehoerige_angebote|render|striptags|trim != '' %}
<div class="margin_bottom padding_bottom">
<h3>{% trans %}Zugehörige Angebote{% endtrans %}</h3>
{{ zugehoerige_angebote }}
{# content.field_zugehoerige_angebote #}
</div>
{% endif %}




</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
{% set buchung_flag = content.field_buchbar|render|striptags|trim %}


{% if buchung_flag == 'On' %}

<h3>{% trans %}Buchung{% endtrans %}</h3>

<div class="block bg_white block_buchung">
{% if content.field_zeitraum|render|striptags|trim != '' %}<div class="row"><label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">{% trans %}Datum{% endtrans %}</label><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">{{ content.field_zeitraum|render|striptags|trim }}</div></div>{% endif %}
{% if content.field_uhrzeiten_info|render|striptags|trim != '' %}<div class="row"><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 col-lg-offset-5">{{ content.field_uhrzeiten_info|render|striptags|trim }}</div></div>{% endif %}
{% if content.field_seminar_id|render|striptags|trim != '' %}<div class="row"><label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">{% trans %}Seminar-ID{% endtrans %}</label><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">{{ content.field_seminar_id|render|striptags|trim }}</div></div>{% endif %}
{% if content.field_dozenten|render|striptags|trim != '' %}<div class="row"><label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">{% trans %}DozentIn{% endtrans %}</label><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 no_link_colour">{% spaceless %}{{ content.field_dozenten }}{% endspaceless %}</div></div>{% endif %}
<br />
{% if content.field_preis|render|striptags|trim != '' %}<div class="row"><label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">{% trans %}Preis{% endtrans %}</label><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12"><b>{{ content.field_preis|render|striptags|trim }}</b></div></div>{% endif %}
{{ content.field_preistarife }}
{% if content.field_anzahlung|render|striptags|trim != '' %}<div class="row"><label class="col-lg-5 col-md-12 col-sm-12 col-xs-12">{% trans %}Anzahlung{% endtrans %}</label><div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">{{ content.field_anzahlung|render|striptags|trim }}</div></div>{% endif %}
<br />
<div class="native_color">{{ content.field_preisnotiz|render|striptags|trim }}</div>
<br />
<a class="button_corporate_complete" href="/{{ current_lang }}/angebot/{{ current_id }}/buchen" title="{% trans %}Jetzt online buchen{% endtrans %}">{% trans %}Jetzt online buchen{% endtrans %}</a>
</div>

{% endif %}

{{ content.field_text_rechts }}


</div>

</div>
</div>
</div>

</article>
