{#
/**
 * @file
 * Default theme implementation of Angebote Dozent.
 *
 * Available variables:
 * - data: The entire data array.
 *
 * @ingroup themeable
 */
#}

<div id="angebote_dozent">
{% for row in data %}

<div class="views-row">
<div class="referenzierte-angebote">
  <div class="angebot_zeitraum">{{ row.zeitraum }}</div>
  <h4>
  <a href="{{ row.path_alias }}" title="{{ row.title|striptags }}" target="_self">
  {{ row.title|striptags|raw }}
  </a>
  </h4>
</div>
</div>

{% endfor %}
</div>
