{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'nav', 'navbar-nav') }}>
    {% else %}
      <ul{{ attributes.addClass('sub-menu') }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'expanded',
          item.below ? 'sub-menu-parent',
          item.in_active_trail ? 'active ib-color',
        ]
      %}
      {% if menu_level == 0 %}
        <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.below %}
        <span class="menu-toggle fa fa-play"></span>
        {% endif %}
        <a href="{{ item.url }}" >{{ item.title }}</a>
     {% else %}
        <li{{ item.attributes.addClass('menu-item') }}>
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
