/**********  CORPORATE UTA AKADEMIE   *************/

/**  Basics  **/
a, .link {
  color: #f17900;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f17900;
  opacity:0.8;
  text-decoration: underline;
}


.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
    background-image: none;
    background-color: #999;
}


.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button, .form-actions .dropbutton .secondary-action {
    border-color: #999;
}

.button:not(.button--primary):not(.button--danger),
.button:not(.button--primary):not(.button--danger):hover,
.button:not(.button--primary):not(.button--danger):active {
  background-image: linear-gradient(180deg, #f6f6f6 0px, #f3f3f3 60%, #e6e6e6 60.1%, #d6d6d4 100%);
  border-color: #d9d9d9 #d0d0d0 #a9a9a9;
  color:#333;
}

.js .form-actions .dropbutton .dropbutton-action > * {
    color: #333;
    font-weight: normal;
    text-shadow: none;
}


.button-action, .button-action:hover, .button-action:active {
    background-image: none;
    background-color: #f17900;
    border: 1px solid #f17900;
    border-radius: 4px;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
}


.button--primary, .button--primary:hover, .button--primary:active {
    border-color: #f17900;
    background-color: #f17900;
    background-image: none;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.button.button--primary:not(.button-action){
  background-image:none!important;
}
.js .form-actions .dropbutton-widget {
    border-color: #999;

}

/****  date recur Feld style ***/

.date-recur-container-inline h4 {
  width:35%;
  margin-bottom:10px;
}

.date-recur-container-inline #edit-field-termin-regel-0-value, .date-recur-container-inline #edit-field-termin-regel-0-end-value {
  width:60%;
  margin-bottom:10px;
}





input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea {
    max-width: 100vw;
}
