{#
/**
 * @file
 * Default theme implementation of UTA Standort Map + Adress.
 *
 * Available variables:
 * - script_data: The entire data array.
 *
 * @ingroup themeable
 */
#}

<div id="location_map">
</div>


<script>
      function initMap() {
        var uta  = {lat: {{ geo_lat }}, lng: {{ geo_lng }}};
        var map = new google.maps.Map(document.getElementById('location_map'), {
          zoom: 17,
          center: uta
        });

        var contentString = '<h3>{{ uta_headline }}</h3>'+
        '<p>{{ uta_adress }}</p>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uta,
          map: map,
          title: '{{ uta_headline }}'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ uta_maps_api }}&callback=initMap"
    async defer></script>
