
/*
.form-item-kontoinhaber,
.form-item-iban,
.form-item-bic,
.form-item-name-der-bank {
  display:none;
}
*/
#angebot-buchen .form-required:after {
    background-image: none !important;
}

#angebot-buchen #edit-required-fields {
  width: 60%;
  margin: 20px 0 0 38%;
}

#angebot-buchen .form-item {
  min-height:50px;
}

#angebot-buchen label.error {
  position:absolute;
  color:red;
  left:0;
  top:22px;
  font-size:14px;
}

#angebot-buchen .select-wrapper label.error {
  left:-309px;
}

#angebot-buchen label.error#edit-ort-error {
    left: -406px;
}
