{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
{%- set logos = content['#view'].result -%}
{%- set count = logos|length - 1 -%}
{% if count > 0 %}
<div class="logos-block-1 container bg_corporate full_width clearfix">
<div class="row">
<h3 class="centered">Unsere Kooperationspartner</h3>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 col-xs-offset-0">
  {% block content %}
    {% for i in 0..count %}
    {%- set logo = logos[i]._entity -%}
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 centered" style="width:185px;">
        <a href="{{ logo.field_banner_link.0.url }}" target="_blank"><img src="{{- file_url(logo.field_banner_bild.0.entity.uri.value) -}}" title="{{ logo.field_banner_bild.0.title }}" alt="{{ logo.field_banner_bild.0.alt }}"></a></div>
    {% endfor %}
  {% endblock %}
  </div>
</div>
</div>
{% endif %}