/**********  CORPORATE UTA AKADEMIE   *************/

/**  Basics  **/
a {
  color: #f17900;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f17900;
  opacity:0.8;
  text-decoration: underline;
}


/*h4, .h4 {
  color:#f17900;
}*/


.text-primary {
  color: #f17900;
}


.bg-primary,
.bg-primary:hover,
.bg-primary:active,
.btn-default,
.btn-default:hover,
.btn-default:active {
  color: #fff;
  background-color: #f17900;
  border-color: #f17900;
}

.bg_grey, .footer {
  background-color:#FCE3CB;
}


.bg_white {
  background-color:#fff;
}


.bg_corporate,
.bg_corporate h1,
.bg_corporate .h1,
.bg_corporate h2,
.bg_corporate .h2,
.bg_corporate h3,
.bg_corporate .h3,
.bg_corporate a {
  color: #fff;
  background-color: #f17900;
}


.bg_corporate a:not(.button_corporate):not(.button_corporate_inverse) {
  text-decoration: underline;
}
.slider_btn a{
  text-decoration: none;
}



span.corporate {
	color:#f17900;
}

p.text_small {
  font-size:14px;
  line-height:24px;
  margin: 0 0 14px;
}


/*****************************/
/*****   Buttons        ******/
/*****************************/


a.button_corporate {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	color:#f17900;
	border:1px solid #f17900;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
}

a.button_corporate:hover  {
	color:#f17900;
  text-decoration: none;
  cursor: pointer;
}



a.button_corporate_complete {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
  color:#ffffff;
	background-color:#f17900;
	border:1px solid #f17900;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
  padding-top: 2px;
}

a.button_corporate_complete:hover  {
	color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.button_corporate_inverse {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	background-color:#ffffff;
	color:#f17900;
	border:1px solid #ffffff;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
}

a.button_corporate_inverse:hover  {
	color:#f17900;
  text-decoration: none;
  cursor: pointer;
}


.no_link_colour a.link_view_user{
  color:#4a4a4a!important;
}
a.link_view_user{
  color:#f17900!important;
}

.block-search .form-control {
  border: 1px solid #f17900;
}


/***  Header // Branding  ***/
@media screen and (min-width: 768px) {

.navbar {
    border-top-color:#f17900;
}

}


/***   Nav   ***/
.navbar-inverse {
  background-color: #f17900;
  border-color: #155958;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #e6e6e6;
  border-color: #f17900;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #f17900;
}

@media (max-width: 1024px){
  #navbar-collapse{
    background-color: #f17900;
  }
  #navbar-collapse li, #navbar-collapse li a, #navbar-collapse nav li ul a, #navbar-collapse .fa{
    color:#fff;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a:focus{
    background-color: transparent !important;
  }
  .menu.sub-menu.opened{
    background-color: #37A5C4;
    padding-bottom: 12px !important;
  }
}

@media(min-width:1025px){
  #navbar-collapse nav ul > li.active {
      border-bottom:2px solid #f17900;
  }
}
/***   Buttons   ***/
.btn-primary, .btn-info {
  color: #fff;
  background-color: #f17900;
  border-color: #f17900;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #155958;
  border-color: #061b1b;
}
.btn-primary:hover, .btn-info:hover {
  color: #fff;
  background-color: #155958;
  border-color: #135150;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #f17900;
  border-color: #f17900;
}
.btn-primary .badge {
  color: #f17900;
  background-color: #fff;
}

.btn-link {
  color: #f17900;
  font-weight: normal;
  border-radius: 0;
}


/****   Angebot    ****/

.angebot_content h2,
.angebot_content h3,
.angebot_content h4 {
  color:#222;
}

.angebot-label{
  color:white;
  background-color: #f17900;
  /*border-left: 1px solid #f17900;*/
}

/*.angebot_content .referenzierte-angebote h4 {
  color:#f17900;
}*/


.bg_angebot_top,
.bg_angebot_top h1,
.bg_angebot_top .h1,
.bg_angebot_top h2,
.bg_angebot_top .h2,
.bg_angebot_top h3,
.bg_angebot_top .h3,
.bg_angebot_top a  {
  background-color: #EB9018;
  color:#222;
}

.bg_angebot {
    background-color:#FDF3E7;
}


.native_color {
  color:#D0021B;
}



.fa-corporate {
  color:#f17900;
  font-size:15px !important;
  position:absolute;
  left:-20px;
  top:8px;
}

.contact-registration-form-page .alert-success{
  background-color: #f17900;
}


/*******   Programmm    ********/
.programm #block-text-rechts {
  background-color:#f1f1f1;
}

div#sliding-popup{
  background:#f17900!important;
}



/***   Angebotsthema  Farbschema   *****/

/* Meditation & Achtsamkeit 1 */
.color_angebotsthema_1,
.angebotsthema_1 .bg_angebot_top,
.angebotsthema_1 .bg_angebot_top h1,
.angebotsthema_1 .bg_angebot_top .h1,
.angebotsthema_1 .bg_angebot_top h2,
.angebotsthema_1 .bg_angebot_top .h2,
.angebotsthema_1 .bg_angebot_top h3,
.angebotsthema_1 .bg_angebot_top .h3,
.angebotsthema_1 .bg_angebot_top a {
    background-color:#D4D069;
}

.angebotsthema_1 .bg_angebot {
  background-color:#fff;
  background-color:rgba(212,208,105, 0.3);
}

.border_angebotsthema_1 {
  border-left:15px solid #D4D069;
}

/* Ressourcen & Stressbewältigung 21 */
.color_angebotsthema_21,
.angebotsthema_21 .bg_angebot_top,
.angebotsthema_21 .bg_angebot_top h1,
.angebotsthema_21 .bg_angebot_top .h1,
.angebotsthema_21 .bg_angebot_top h2,
.angebotsthema_21 .bg_angebot_top .h2,
.angebotsthema_21 .bg_angebot_top h3,
.angebotsthema_21 .bg_angebot_top .h3,
.angebotsthema_21 .bg_angebot_top a  {
  background-color:#FBBC73;
}

.angebotsthema_21 .bg_angebot {
  background-color:#fff;
  background-color:rgba(251,188,155, 0.3);
}

.border_angebotsthema_21 {
  border-left:15px solid #FBBC73;
}

/* Inneres Erwachen & Transformation  22 */
.color_angebotsthema_22,
.angebotsthema_22 .bg_angebot_top,
.angebotsthema_22 .bg_angebot_top h1,
.angebotsthema_22 .bg_angebot_top .h1,
.angebotsthema_22 .bg_angebot_top h2,
.angebotsthema_22 .bg_angebot_top .h2,
.angebotsthema_22 .bg_angebot_top h3,
.angebotsthema_22 .bg_angebot_top .h3,
.angebotsthema_22 .bg_angebot_top a  {
  background-color:#9DC0CC;
}

.angebotsthema_22 .bg_angebot {
  background-color:#fff;
  background-color:rgba(157,192,204, 0.3);
}

.border_angebotsthema_22 {
  border-left:15px solid #9DC0CC;
}


/* Kindheit & Jugend 23 */
.color_angebotsthema_23,
.angebotsthema_23 .bg_angebot_top,
.angebotsthema_23 .bg_angebot_top h1,
.angebotsthema_23 .bg_angebot_top .h1,
.angebotsthema_23 .bg_angebot_top h2,
.angebotsthema_23 .bg_angebot_top .h2,
.angebotsthema_23 .bg_angebot_top h3,
.angebotsthema_23 .bg_angebot_top .h3,
.angebotsthema_23 .bg_angebot_top a  {
  background-color:#8ABFB0;
}

.angebotsthema_23 .bg_angebot {
  background-color:#fff;
  background-color:rgba(138,191,176, 0.3);
}

.border_angebotsthema_23 {
  border-left:15px solid #8ABFB0;
}

/* Männer 24 */
.color_angebotsthema_24,
.angebotsthema_24 .bg_angebot_top,
.angebotsthema_24 .bg_angebot_top h1,
.angebotsthema_24 .bg_angebot_top .h1,
.angebotsthema_24 .bg_angebot_top h2,
.angebotsthema_24 .bg_angebot_top .h2,
.angebotsthema_24 .bg_angebot_top h3,
.angebotsthema_24 .bg_angebot_top .h3,
.angebotsthema_24 .bg_angebot_top a  {
  background-color:#9EB2B5;
}

.angebotsthema_24 .bg_angebot {
  background-color:#fff;
  background-color:rgba(158,178,181, 0.3);
}

.border_angebotsthema_24 {
  border-left:15px solid #9EB2B5;
}


/* Frauen 25 */
.color_angebotsthema_25,
.angebotsthema_25 .bg_angebot_top,
.angebotsthema_25 .bg_angebot_top h1,
.angebotsthema_25 .bg_angebot_top .h1,
.angebotsthema_25 .bg_angebot_top h2,
.angebotsthema_25 .bg_angebot_top .h2,
.angebotsthema_25 .bg_angebot_top h3,
.angebotsthema_25 .bg_angebot_top .h3,
.angebotsthema_25 .bg_angebot_top a  {
  background-color:#CD9CB7;
}

.angebotsthema_25 .bg_angebot {
  background-color:#fff;
  background-color:rgba(205,156,183, 0.3);
}

.border_angebotsthema_25 {
  border-left:15px solid #CD9CB7;
}



/* Beziehung & Sexualität 26 */
.color_angebotsthema_26,
.angebotsthema_26 .bg_angebot_top,
.angebotsthema_26 .bg_angebot_top h1,
.angebotsthema_26 .bg_angebot_top .h1,
.angebotsthema_26 .bg_angebot_top h2,
.angebotsthema_26 .bg_angebot_top .h2,
.angebotsthema_26 .bg_angebot_top h3,
.angebotsthema_26 .bg_angebot_top .h3,
.angebotsthema_26 .bg_angebot_top a  {
  /*background-color:#4097cf;*/
  background-color:#E88755;
}

.angebotsthema_26 .bg_angebot {
  background-color:#fff;
  background-color:rgba(232,135,85, 0.3);
}

.border_angebotsthema_26 {
  /*border-left:15px solid #4097cf;*/
  border-left:15px solid #E88755;
}

/* Körper- und Energiearbeit 27 */
.color_angebotsthema_27,
.angebotsthema_27 .bg_angebot_top,
.angebotsthema_27 .bg_angebot_top h1,
.angebotsthema_27 .bg_angebot_top .h1,
.angebotsthema_27 .bg_angebot_top h2,
.angebotsthema_27 .bg_angebot_top .h2,
.angebotsthema_27 .bg_angebot_top h3,
.angebotsthema_27 .bg_angebot_top .h3,
.angebotsthema_27 .bg_angebot_top a  {
  background-color:#57A2D3;
}

.angebotsthema_27 .bg_angebot {
  background-color:#fff;
  background-color:rgba(87,162,211, 0.3);
}

.border_angebotsthema_27 {
  border-left:15px solid #57A2D3;
}

/* Gestalttherapie & Systemische Arbeit 28 */
.color_angebotsthema_28,
.angebotsthema_28 .bg_angebot_top,
.angebotsthema_28 .bg_angebot_top h1,
.angebotsthema_28 .bg_angebot_top .h1,
.angebotsthema_28 .bg_angebot_top h2,
.angebotsthema_28 .bg_angebot_top .h2,
.angebotsthema_28 .bg_angebot_top h3,
.angebotsthema_28 .bg_angebot_top .h3,
.angebotsthema_28 .bg_angebot_top a  {
  background-color:#CDC09E;
}

.angebotsthema_28 .bg_angebot {
  background-color:#fff;
  background-color:rgba(205,192,158, 0.3);
}

.border_angebotsthema_28 {
  border-left:15px solid #CDC09E;
}


/* Kreativität 29 */
.color_angebotsthema_29,
.angebotsthema_29 .bg_angebot_top,
.angebotsthema_29 .bg_angebot_top h1,
.angebotsthema_29 .bg_angebot_top .h1,
.angebotsthema_29 .bg_angebot_top h2,
.angebotsthema_29 .bg_angebot_top .h2,
.angebotsthema_29 .bg_angebot_top h3,
.angebotsthema_29 .bg_angebot_top .h3,
.angebotsthema_29 .bg_angebot_top a  {
  background-color:#FFE299;
}

.angebotsthema_29 .bg_angebot {
  background-color:#fff;
  background-color:rgba(255,226,153, 0.3);
}

.border_angebotsthema_29 {
  border-left:15px solid #FFE299;
}
