/**
 * Place your custom styles here.
 */

 body {
   font-family: "Open Sans", "Source Sans Pro", Arial, sans-serif;
   font-size: 16px;
   line-height:28px;
 }


/*****************************/
/*****   Basics         ******/
/*****************************/

a {
  color: #2D87A2;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2D87A2;
  opacity:0.8;
  text-decoration: underline;
}


h3,
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Source Sans Pro", Arial, sans-serif;
}

h1,
h2,
.h1,
.h2,
h3,
.h3 {
  font-family: "Merriweather", Georgia, serif;
  margin-top:0;

}

h1, .h1 {
  	color: #4A4A4A;
    font-size:28px;
    line-height:40px;
    margin-bottom: 0;
    font-weight:700;
}

h2, .h2 {
  	color: #9B9B9B;
    color: #4A4A4A;
    font-size:24px;
    line-height:31px;
    margin-bottom: 24px;
    font-weight:700;
}

h3, .h3 {
  	color: #9B9B9B;
    font-size:24px;
    line-height:31px;
    margin-bottom: 24px;
    font-weight:700;
}

h4, .h4 {
  font-weight:bold;
  font-size:16px;
  color:#2D87A2;
  margin:0;
}

h5, .h5 {
  font-weight:bold;
  font-size:13px;
  margin:0;
}

h6, .h6 {
  font-weight:normal;
  font-size:13px;
  margin:0;
}

/*****************************/
/*****   Specials       ******/
/*****************************/

span.corporate {
	color:#f17900;
}

p.text_small {
  font-size:14px;
  line-height:24px;
  margin: 0 0 14px;
}

/*****************************/
/*****   Buttons        ******/
/*****************************/


a.button_corporate {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	color:#f17900;
	border:1px solid #f17900;
	border-radius:100px;
	font-size:14px;
	margin-top:15px;
}

a.button_corporate:hover  {
	color:#f17900;
	text-decoration: none;
	cursor: pointer;
}

a.button_corporate_inverse {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	background-color:#f17900;
	color:#ffffff;
	border:1px solid #ffffff;
	border-radius:100px;
	font-size:14px;
	margin-top:15px;
}

a.button_corporate_inverse:hover  {
	color:#ffffff;
	text-decoration: none;
	cursor: pointer;
}
