/**********  CORPORATE UTA INSTITUT   *************/

.agenda .date-label {
    font-weight: bold;
    background: red !important;
    position: relative;
}


/**  Basics  **/

h1, .h1,
h2, .h2,
#utaCarousel h1, #utaCarousel h2,
.angebotteaser_block h3
 {
  	color: #4A4A4A;
}

h3, .h3,
h2.block-title,
h4, .h4
 {
  	color: #9B9B9B;
}


a {
  color: #f17900;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f17900;
  opacity:0.8;
  text-decoration: underline;
}

/*.spruch-container .spruch_body,
.spruch-container .spruch_autor {
  color:#fff;
}*/
.block-language a {
  color: #fff;
  text-decoration: none;
}

.erfahrungsbericht-start {
  font-style: italic;
}


.weitere_angebote_start .btn {
  display:block;
}

.main-content #angebot_next .termin_teaser.row {
  margin-bottom:0;
}

header.navbar{
  background-color:#f17900;
}

.text-primary,
.text-primary:hover,
.text-primary:focus {
  color: #f17900;
}


.bg-primary,
.bg-primary:hover,
.bg-primary:active,
.btn-default,
.btn-default:hover,
.btn-default:active {
  color: #fff;
  background-color: #f17900;
  border-color: #f17900;
}


.bg_grey, .footer {
  background-color:#FDF1E5;
}


.bg_white {
  background-color:#fff;
}


.bg_corporate,
.bg_corporate h1,
.bg_corporate .h1,
.bg_corporate h2,
.bg_corporate .h2,
.bg_corporate h3,
.bg_corporate .h3,
.bg_corporate a {
  color: #fff;
  background-color: #f17900;
}




span.corporate {
	color:#f17900;
}

p.text_small {
  font-size:14px;
  line-height:24px;
  margin: 0 0 14px;
}



.views-field-field-text-rechts li,
.kurzmassagen_liste li,
.terminliste li.terminliste_item {
  list-style:none;
}

.views-field-field-text-rechts li::before,
.kurzmassagen_liste li::before,
.terminliste li.terminliste_item::before {
  content: ">";
  display: inline-block;
  margin-left: -20px;
  width: 20px;
  color: #f17900;
}




/**  Allgemeine Elemente Blöcke, Felder etc  **/
.views-field.views-field-field-text-rechts, .block-views-blockdemnaechst-in-der-uta-akademie-block-1 {
  background-color:#FDF1E5;
}


#angebot_next {
  position:relative;
  top:-8px;
}

/*****************************/
/*****   Buttons        ******/
/*****************************/


a.button_corporate {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	color:#f17900;
	border:1px solid #f17900;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
}

a.button_corporate:hover  {
	color:#f17900;
  text-decoration: none;
  cursor: pointer;
}

/*.bg_corporate a.button_corporate, a.button_corporate:hover {
  color:#fff;
  border:1px solid #fff;
}*/

a.button_corporate_complete,
a.button_corporate_disabled {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
  color:#ffffff;
	background-color:#f17900;
	border:1px solid #f17900;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
  padding-top: 2px;
}

a.button_corporate_complete:hover  {
	color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.button_corporate_disabled {
  opacity: 0.8;
  text-decoration: none;
}

a.button_corporate_complete:hover  {
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.button_corporate_disabled:hover {
  cursor: default;
}

a.button_corporate_inverse {
	display:inline-block;
	text-align:center;
	min-width:185px;
	min-height:30px;
	background-color:#ffffff;
	color:#f17900;
	border:1px solid #ffffff;
  border-radius:100px;
  font-size:14px;
  margin-top:5px;
}

a.button_corporate_inverse:hover,
.bg_corporate a:hover  {
  text-decoration: none;
  cursor: pointer;
}

a.button_corporate_inverse:hover  {
	color:#f17900;
}

.no_link_colour a.link_view_user{
  color:#4a4a4a!important;
}
a.link_view_user{
  color:#f17900!important;
}

.block-search .form-control {
  border: 1px solid #fff;
  color:#fff;
  background-color: #f17900;
}


/***   Buttons   ***/
.btn-primary,
.btn-info,
.btn-primary:focus,
.btn-primary.focus,
.btn-info:focus,
.btn-info.focus,
.btn-primary:hover,
.btn-info:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary .badge   {
  color: #fff;
  background-color: #f17900;
  border-color: #f17900;
}



.btn-link {
  color: #f17900;
  font-weight: normal;
  border-radius: 0;
}


.btn:hover {
  opacity:0.8;
}

/***  Header // Branding  ***/
@media screen and (min-width: 768px) {

.navbar {
    border-top:25px solid #fff;
    border-bottom:0;
}

}


/***   Nav   ***/
.navbar-inverse {
  background-color: #f17900;
  border-color: #155958;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #e6e6e6;
  border-color: #f17900;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #f17900;
}

@media (max-width: 1024px){
  #navbar-collapse{
    background-color: #f17900;
  }
  .navbar-collapse.collapse.in {
    height: calc(100% - 50px)!important;
  }
  #navbar-collapse li, #navbar-collapse li a, #navbar-collapse nav li ul a, #navbar-collapse .fa{
    color:#fff;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a:focus{
    background-color: transparent !important;
  }
  .menu.sub-menu.opened{
    /*background-color: #37A5C4;*/
    padding-bottom: 12px !important;
  }
}

@media(min-width:1025px){
  #navbar-collapse nav ul > li.active {
      border-bottom:2px solid #fff;
  }
}


/****   Angebot    ****/

.angebot_content h2,
.angebot_content h3,
.angebot_content h4 {
  color:#222;
}

.angebot-label{
  color:white;
  background-color: #f17900;
  /*border-left: 1px solid #f17900;*/
}

/*.angebot_content .referenzierte-angebote h4 {
  color:#f17900;
}*/


.bg_angebot_top,
.bg_angebot_top h1,
.bg_angebot_top .h1,
.bg_angebot_top h2,
.bg_angebot_top .h2,
.bg_angebot_top h3,
.bg_angebot_top .h3,
.bg_angebot_top a  {
  /*background-color: #FDF1E5;*/
  background-color: #F8F2EB;
  color:#222;

}

.bg_angebot_top {
  border-bottom: 0px solid #ffffff;
}


.bg_angebot {
    background-color:#FDF3E7;
    /*background-color:#fff;*/
}

.bg_angebot_top .angebot_zeitraum {
  border:3px solid #F8BC80;
  background-color:#ffffff;
}


.native_color {
  color:#D0021B;
}



.fa-corporate {
  color:#f17900;
  font-size:15px !important;
  position:absolute;
  left:-20px;
  top:8px;
}

.contact-registration-form-page .alert-success{
  background-color: #f17900;
}

.akkordeon-item h3 a {
  color: #f17900;
}

/*******   Programmm    ********/
.programm #block-text-rechts {
  background-color:#f1f1f1;
}


#search-block-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#search-block-form input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#search-block-form input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#search-block-form input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

div#sliding-popup{
  background:#f17900!important;
}

.startseite .region-content-bottom .block {
  margin-bottom:0;
}


.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus  {
    color: #f17900;
}



/**  Einzelsitzungen   **/

@media screen and (min-width: 768px) {
  .angebotsteaser_thema.einzelsitzung_teaser, .konzerte_liste .angebotsteaser_thema {
    height:470px;
  }

  .angebotsteaser_thema.kurzmassage_teaser {
    height:650px;
  }

}

/***  Taegliche Meditationen Tabellen  ***/

table.tab_stundenplan,
table.tab_info_meditationen {
  width:100%;
  vertical-align:top;
}

table.tab_stundenplan a,
table.tab_info_meditationen a {
  text-decoration: none;
}


table.tab_stundenplan {
  line-height:20px;
}

table.tab_stundenplan tr {
    border-bottom:1px solid #ccc;
}

table.tab_stundenplan td,
table.tab_stundenplan th {
  height:65px;
}

table.tab_info_meditationen td {
  vertical-align:top;
}

.tab_left_column {
  width:12.5%;
}

.main-content .info_taegliche_meditationen .field.field--name-body {
  padding-bottom:0;
}

.info_taegliche_meditationen.block,
.stundenplan.block  {
    margin-bottom: 0;
}

/**** Dozenten  ****/
.dozent-full h4,
.dozent-full .field--label {
  font-weight:bold;
  color:#4A4A4A;
  font-family: "Merriweather", Georgia, serif;
  font-size:16px;
  margin:0 0 10px 0;
}

.dozent-full .referenzierte-angebote {
    margin-top: 4px;
}

.dozent-full .referenzierte-angebote h4 {
  font-weight:normal;
  font-family: "Open Sans", "Source Sans Pro", Arial, sans-serif;
  font-size:16px;
}

.dozent-full .margin_top_small {
  margin-top:15px;
}

.dozent-full .margin_bottom_small {
  margin-bottom:15px;
}

.dozent-full .margin_top {
  margin-top:30px;
}


/*** Tafel Startseite  ***/
.main-content .row.row.tafel_text {
  padding-top:15px;
  padding-bottom:15px;
  margin-left:0;
  margin-right:0;
  margin-bottom:30px;
  position:relative;
  top:8px;
  background-color:#F17900;
  color:#fff;
}

/***  Overrioding Dozenten Profile Backend   ****/

.user_container .form-item label {
  float:none;
  font-weight:bold;
}


.user_container .profile-form .form-item.form-group {
     height: auto;
}

.user_container .profile-form,
.user_container .user-login-form  {
  margin-top:50px;
}

.user_container .panel-default > .panel-heading {
  padding:10px 0 0 0;
}

.user_container .panel-default > .panel-heading .panel-title {
  font-family: "Open Sans", "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  Font-weight:bold;
}

.user_container .form-item.form-type-managed-file label,
.user_container .form-item label.option
 {
  font-weight:normal;
}


.user_container .form-item.form-item-field-einzelsitzungen-value label.option
 {
  font-weight:bold;
  padding-top:20px;
}


.user_container .form-item legend {
  float:none;
}


.user_container .form-item.fieldgroup .fieldset-wrapper {
  float:none;
  width:auto;
}

.user_container .checkbox label,
.user_container .radio label {
    padding-left: 0;
  }


/***   Override User Login Form    ***/

.user_container .user-login-form .form-item label {
    float: left;
}


/***   Angebotsthema  Farbschema   *****/

.border_angebotsthema_ {
  border-left:15px solid #fff;
}

/* Meditation & Achtsamkeit 1 */
.color_angebotsthema_1
/*.angebotsthema_1 .bg_angebot_top,
.angebotsthema_1 .bg_angebot_top h1,
.angebotsthema_1 .bg_angebot_top .h1,
.angebotsthema_1 .bg_angebot_top h2,
.angebotsthema_1 .bg_angebot_top .h2,
.angebotsthema_1 .bg_angebot_top h3,
.angebotsthema_1 .bg_angebot_top .h3,
.angebotsthema_1 .bg_angebot_top a */
{
    background-color:#D3D069;
}

.angebotsthema_1 .bg_angebot {
  background-color:#ECEAC6;
}

.border_angebotsthema_1 {
  border-left:15px solid #D3D069;
}

/* Ressourcen & Stressbewältigung 21 */
.color_angebotsthema_21
/*.angebotsthema_21 .bg_angebot_top,
.angebotsthema_21 .bg_angebot_top h1,
.angebotsthema_21 .bg_angebot_top .h1,
.angebotsthema_21 .bg_angebot_top h2,
.angebotsthema_21 .bg_angebot_top .h2,
.angebotsthema_21 .bg_angebot_top h3,
.angebotsthema_21 .bg_angebot_top .h3,
.angebotsthema_21 .bg_angebot_top a  */
{
  background-color:#FBBD74;
}

.angebotsthema_21 .bg_angebot {
  /*  background-color:#FDEEDB; */
  background-color:#FDE8D6;
}

.border_angebotsthema_21 {
  border-left:15px solid #FBBD74;
}

/* Inneres Erwachen & Transformation  22 */
.color_angebotsthema_22
/*.angebotsthema_22 .bg_angebot_top,
.angebotsthema_22 .bg_angebot_top h1,
.angebotsthema_22 .bg_angebot_top .h1,
.angebotsthema_22 .bg_angebot_top h2,
.angebotsthema_22 .bg_angebot_top .h2,
.angebotsthema_22 .bg_angebot_top h3,
.angebotsthema_22 .bg_angebot_top .h3,
.angebotsthema_22 .bg_angebot_top a  */
{
  background-color:#9EC0CC;
}

.angebotsthema_22 .bg_angebot {
  background-color:#DEEEF3;
}

.border_angebotsthema_22 {
  border-left:15px solid #9DC0CC;
}


/* Kindheit & Jugend 23 */
.color_angebotsthema_23
/*.angebotsthema_23 .bg_angebot_top,
.angebotsthema_23 .bg_angebot_top h1,
.angebotsthema_23 .bg_angebot_top .h1,
.angebotsthema_23 .bg_angebot_top h2,
.angebotsthema_23 .bg_angebot_top .h2,
.angebotsthema_23 .bg_angebot_top h3,
.angebotsthema_23 .bg_angebot_top .h3,
.angebotsthema_23 .bg_angebot_top a  */
{
  background-color:#AFCE55;
}

.angebotsthema_23 .bg_angebot {
  background-color:#EAEFD3;
}

.border_angebotsthema_23 {
  border-left:15px solid #BFBB8B;
}

/* Männer 24 */
.color_angebotsthema_24
/*.angebotsthema_24 .bg_angebot_top,
.angebotsthema_24 .bg_angebot_top h1,
.angebotsthema_24 .bg_angebot_top .h1,
.angebotsthema_24 .bg_angebot_top h2,
.angebotsthema_24 .bg_angebot_top .h2,
.angebotsthema_24 .bg_angebot_top h3,
.angebotsthema_24 .bg_angebot_top .h3,
.angebotsthema_24 .bg_angebot_top a  */
{
  background-color:#84C5CA;
}

.angebotsthema_24 .bg_angebot {
  background-color:#E0EFF1;
}

.border_angebotsthema_24 {
  border-left:15px solid #9EB1B5;
}


/* Frauen 25 */
.color_angebotsthema_25
/*.angebotsthema_25 .bg_angebot_top,
.angebotsthema_25 .bg_angebot_top h1,
.angebotsthema_25 .bg_angebot_top .h1,
.angebotsthema_25 .bg_angebot_top h2,
.angebotsthema_25 .bg_angebot_top .h2,
.angebotsthema_25 .bg_angebot_top h3,
.angebotsthema_25 .bg_angebot_top .h3,
.angebotsthema_25 .bg_angebot_top a  */
{
  background-color:#FA8072;
}

.angebotsthema_25 .bg_angebot {
  background-color:#FDDFDC;
}

.border_angebotsthema_25 {
  border-left:15px solid #CD9DB7;
}



/* Beziehung & Sexualität 26 */
.color_angebotsthema_26
/*.angebotsthema_26 .bg_angebot_top,
.angebotsthema_26 .bg_angebot_top h1,
.angebotsthema_26 .bg_angebot_top .h1,
.angebotsthema_26 .bg_angebot_top h2,
.angebotsthema_26 .bg_angebot_top .h2,
.angebotsthema_26 .bg_angebot_top h3,
.angebotsthema_26 .bg_angebot_top .h3,
.angebotsthema_26 .bg_angebot_top a  */
{
  background-color:#F5855C;
}

.angebotsthema_26 .bg_angebot {
  background-color:#FDE3DA;
}

.border_angebotsthema_26 {
  border-left:15px solid #FD7E6D;
}

/* Körper- und Energiearbeit 27 */
.color_angebotsthema_27
/*.angebotsthema_27 .bg_angebot_top,
.angebotsthema_27 .bg_angebot_top h1,
.angebotsthema_27 .bg_angebot_top .h1,
.angebotsthema_27 .bg_angebot_top h2,
.angebotsthema_27 .bg_angebot_top .h2,
.angebotsthema_27 .bg_angebot_top h3,
.angebotsthema_27 .bg_angebot_top .h3,
.angebotsthema_27 .bg_angebot_top a  */
{
  background-color:#58A2D3;
}

.angebotsthema_27 .bg_angebot {
  background-color:#D4E7F3;
}

.border_angebotsthema_27 {
  border-left:15px solid #58A2D3;
}

/* Gestalttherapie & Systemische Arbeit 28 */
.color_angebotsthema_28
/*.angebotsthema_28 .bg_angebot_top,
.angebotsthema_28 .bg_angebot_top h1,
.angebotsthema_28 .bg_angebot_top .h1,
.angebotsthema_28 .bg_angebot_top h2,
.angebotsthema_28 .bg_angebot_top .h2,
.angebotsthema_28 .bg_angebot_top h3,
.angebotsthema_28 .bg_angebot_top .h3,
.angebotsthema_28 .bg_angebot_top a  */
{
  background-color:#CDC09E;
}

.angebotsthema_28 .bg_angebot {
  background-color:#EEE7D2;
}

.border_angebotsthema_28 {
  border-left:15px solid #CDC09E;
}


/* Kreativität 29 */
.color_angebotsthema_29
/*.angebotsthema_29 .bg_angebot_top,
.angebotsthema_29 .bg_angebot_top h1,
.angebotsthema_29 .bg_angebot_top .h1,
.angebotsthema_29 .bg_angebot_top h2,
.angebotsthema_29 .bg_angebot_top .h2,
.angebotsthema_29 .bg_angebot_top h3,
.angebotsthema_29 .bg_angebot_top .h3,
.angebotsthema_29 .bg_angebot_top a  */
{
  background-color:#FEE299;
}

.angebotsthema_29 .bg_angebot {
  background-color:#F8EAC8;
}

.border_angebotsthema_29 {
  border-left:15px solid #FEE299;
}


/***  responsive ***/

@media (max-width: 767px) {

  .slider_bild {
   overflow:hidden;
   width:100vw;
  }

 .slider_bild img,
.carousel_item img {
   width:140% !important;
   max-width:140% !important;
  }



}

@media (min-width: 768px) {

.top_row.bg_angebot_top .angebot-label {
    bottom: 0;
    top:auto;
}

}

.search-result-row {
   overflow: hidden;
   background-color:#FDF1E5;
   margin: 0 0 20px;
   padding: 1.5rem;
   border: 1px solid #FCECE7;
}

.search-result-row .views-field-field-bezeichnung,
.search-result-row .views-field-type,
.search-result-row .views-field-field-zeitraum,
.search-result-row .views-field-field-dozenten {
   color: #757575;
}

.search-page-container h3,
.view-search-events-with-no-date h3,
.view-search-events-in-the-past h3 {
    text-decoration: underline;
    text-decoration-color: #F17900;
    font-size: 18px;
    margin-bottom: 3px;
}

#edit-search-api-fulltext {
  border: 1px solid #fff;
  color: #fff;
  background-color: #f17900;
}
